{
  "openapi": "3.0.3",
  "info": {
    "title": "🔐 Auth API v2",
    "version": "0.1.0",
    "description": "Authentication endpoints (Shared by Mobile & Admin)."
  },
  "servers": [
    {
      "url": "https://www.medi-buddy.xyz",
      "description": "Production Server (HTTPS)"
    }
  ],
  "tags": [
    {
      "name": "Auth (V2)",
      "description": "Authentication endpoints (Shared by Mobile & Admin)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase access token"
      }
    },
    "schemas": {
      "AuthV2OtpVerifyResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "isNewUser": {
            "type": "boolean"
          },
          "user": {
            "$ref": "#/components/schemas/PublicUserAccount"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "isNewUser",
          "user"
        ]
      },
      "PublicUserAccount": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "supabaseUserId": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true,
            "enum": [
              "email",
              "google",
              "email,google",
              null
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "User",
              "Admin",
              "SuperAdmin"
            ]
          },
          "tutorialDone": {
            "type": "boolean"
          },
          "lastLogin": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "userId",
          "email",
          "role",
          "tutorialDone",
          "createdAt"
        ]
      },
      "AuthV2OtpVerifyRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "code": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "AuthV2OtpRequestBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ]
      },
      "AuthV2LogoutRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "AuthV2RefreshResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          }
        },
        "required": [
          "accessToken"
        ]
      },
      "AuthV2RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        },
        "required": [
          "refreshToken"
        ]
      },
      "AuthV2TokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/PublicUserAccount"
          }
        },
        "required": [
          "accessToken",
          "refreshToken",
          "user"
        ]
      },
      "AuthV2LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthV2RegisterRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 6
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "AuthV2ForgotPasswordRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "redirectTo": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "email",
          "redirectTo"
        ]
      },
      "AuthV2ForgotPasswordReset": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "newPassword": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "token",
          "newPassword"
        ]
      },
      "AuthV2GoogleLoginRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string"
          }
        },
        "required": [
          "idToken"
        ]
      },
      "AuthV2MergeRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "otp": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6
          },
          "newPassword": {
            "type": "string",
            "minLength": 6
          }
        },
        "required": [
          "email",
          "otp",
          "newPassword"
        ]
      }
    }
  },
  "paths": {
    "/api/auth/v2/register": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Register a new user",
        "description": "Create a new account with email and password. Triggers an OTP email for verification.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful, OTP sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Email already exists and verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/register/merge": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Merge a Google account with an Email/Password provider",
        "description": "Verifies the provided OTP, and sets a password to allow standard login for accounts originally created with Google Login.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2MergeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password set and account merged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or expired OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/login": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Login with email/password",
        "description": "Authenticate user and return access/refresh tokens.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/google-login": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Login or Register with Google",
        "description": "Verifies an id_token from the Google Auth service. Will sign in existing users and auto-create new users.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2GoogleLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2TokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/refresh": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Refresh access token",
        "description": "Exchange a refresh token for a new access token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/logout": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Logout user",
        "description": "Revoke the refresh token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2LogoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/me": {
      "get": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Get current user profile (V2)",
        "description": "Retrieve user details using V2 access token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/PublicUserAccount"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/otp/request": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Request OTP code",
        "description": "Send a 6-digit verification code to the provided email address. Rate-limited to one request per minute per email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2OtpRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests (cooldown active)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/otp/verify": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Verify OTP and login/register",
        "description": "Verify the 6-digit code. If the user exists, logs them in. If not, auto-creates a new account. Returns JWT tokens.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2OtpVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verified — tokens issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthV2OtpVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or expired OTP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/forgot-password/request": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Request a Password Reset",
        "description": "Generates a secure password reset token and sends a Magic Link to the provided email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2ForgotPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully (regardless of whether the email exists)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid email or missing redirect URL structure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/v2/forgot-password/verify-redirect": {
      "get": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Verify Reset Token & Redirect",
        "description": "Validates the reset token and safely redirects the user to the target App or Web application, passing the token.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The secure token sent in the email."
          },
          {
            "name": "redirect_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The deep link or web URI to redirect the user to."
          }
        ],
        "responses": {
          "302": {
            "description": "Redirects to the `redirect_to` target URI. Passing either `?token=...` or `?error=...`."
          }
        }
      }
    },
    "/api/auth/v2/forgot-password/reset": {
      "post": {
        "tags": [
          "Auth (V2)"
        ],
        "summary": "Reset Password",
        "description": "Consumes the password reset token, updates the user's password, and forces them to sign out of all active devices.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthV2ForgotPasswordReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid token, expired token, or invalid new password format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}